accelerate==1.14.0
deep-translator==1.11.4
huggingface_hub==1.24.0
librosa==0.11.0
llvmlite==0.48.0
numba==0.66.0
numpy==2.4.2
pandas==3.0.3
protobuf==7.35.1
pydub==0.25.1
pyannote.audio==4.0.7
scipy==1.18.0
sentencepiece==0.2.0
soundfile==0.13.1
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
transformers==5.14.1
